:root{
    /* COLORS */

    /* TEXT */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* BACKGROUND GRADIENT */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* DIVIDERS */
    --light-grayish-blue: hsl(240, 5%, 91%);

    /* TYPOGRAPHY */

    /* BODY COPY */
    --font-size: 12px;
    /* FONT */
    --font-family: 'Kumbh Sans', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

body{
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
    font-size: var(--font-size);

    background: linear-gradient(var(--soft-violet), var(--soft-blue)) ;
}

.l-frame{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.l-image-area{
    background: white;
    border-radius: 20px;
}

.l-faq-area{
    background: white;
    border-radius: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }